<div class="page-header">
  <h1><%= @status.name %></h1>
</div>

<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Name:</strong>
  <%= @status.name %>
</p> -->
<ul class="statuses">
  <li>
    <div class="content">
      <p><%= @status.content %></p>
    </div>

    <div class="meta">
      <%= link_to 'Edit', edit_status_path(@status) %>
      <%= link_to 'Back', statuses_path %>
    </div>
  </li>

</ul>
